<address>
    <p>
        E-mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a>;
    </p>

    <p>
        Social:
        <a href="https://github.com/I3run0">Github</a>
        <a href="https://www.linkedin.com/in/bruno-fran%C3%A7%C3%A1/">Gitlab</a>
    </p>
</address>

<p class="print-site-link"><small>Also available at <a href="https://{{ site.domain }}{{ page.url }}">my website</a>.</small></p>